body{
      padding: 5em;
}

h1{
      color: rgb(255, 0, 111);
}
p{
      font-size: 1em;
      font-style: italic;
}

.form{
      text-align: center;
      margin :2em auto;
}
input[type="search"]{
      width:50em;
      height: 4em;
      border:2px solid rgb(255, 0, 111);
      border-radius: 20px;
      padding: 0 1em;
}

h2{
      margin-top:3em;
      text-align: center;
}

.disp div{
      display:flex;
      justify-content: flex-start;
     align-items: flex-start;
      flex-direction: column;
      padding:1em;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      width:fit-content;
      height: fit-content;
}
i{
      font-size: 1.5em;
      color: red;

}
