body{
      padding: 5em;
}

h1{
      color: rgb(255, 0, 111);
}
p{
      font-size: 1em;
      font-style: italic;
}

.form{
      text-align: center;
      margin :2em auto;
}
input[type="search"]{
      width:50em;
      height: 4em;
      border:2px solid rgb(255, 0, 111);
      border-radius: 20px;


}
